* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #333;
    padding: 10px 20px;
    font-size: 22px;
    color: white;
}

.app-name {
    font-size: 24px;
    font-weight: bold;
}

.header-link {
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin-right: 15px;
}

.header-link:hover {
    text-decoration: underline;
}

.profile-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-circle {
    width: 40px;
    height: 40px;
    background-color: #ccc;
    border-radius: 50%;
    cursor: pointer;
}

.content {
    display: flex;
    
    flex-direction: column;
    align-items: center;
}

.search-section {
    display: flex;
    justify-content: center;
    margin: 30px 0;
}

.search-bar {
    width: 800px;
    height: 60px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-right: 10px;
}

.dropdowns {
    display: flex;
    gap: 10px;
}

.dropdowns select {
    padding: 8px;
    width: 250px;
    height: 60px;
    border: 1px solid #ccc;
    border-radius: 5px;
}


.main-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    padding: 20px;
    gap: 25px;
    width: 100%; 
}

.task-box {
    width: 80%;              
    max-width: 800px;          
    padding: 20px;
    background-color: #D3D3D3;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-sizing: border-box;  
}

.task-box input,
.task-box textarea {
    width: 100%;           
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;  
}

.task-box textarea {
    resize: none;            
}

.message-button {
    background-color: #00008b;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    width: 100%;             
    max-width: 200px;        
    margin: 0 auto;         
}

.message-button:hover {
    background-color: #555;
}

